@charset "UTF-8";

.gameConDiv{
	width : 1200px;
	margin : 0 auto;
}

.gameMenuDiv{
	width : 220px;
    min-height : 687px;
    display : inline-block;
    vertical-align: top;
    text-align: center;
}

.gameDateDiv {
	width : 100%;
	height : 22px;
	background-color : #3275A2;
	color : white;
	font-weight : bold;
	line-height : 2;
}

.gameDateBtn{
	background-color : transparent;
	border : 0 ;
	color : white;
	cursor : pointer;
}

.gameTitleDIv {
	width : 100%;
	height : 30px;
	background-color : #3275A2;
	color : white;
	font-weight : bold;
	line-height : 2;
}

.gameListDiv_1h, .selectGameListDiv_1h{
	padding-left: 10px;
    padding-right: 10px;
    padding-top: 25px;
    padding-bottom: 11px;
    height: 23px;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    text-align: left;
}

.noGameListDiv{
	padding-left: 10px;
    padding-right: 10px;
    padding-top: 25px;
    padding-bottom: 11px;
    height: 23px;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    text-align: center;
}

.gameListDiv_2h, .selectGameListDiv_2h{
	padding-left: 10px;
    padding-right: 10px;
    padding-top: 17px;
    padding-bottom: 12px;
    height: 30px;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    text-align: left;
}

.selectGameListDiv_1h{
	padding-left: 10px;
    padding-right: 10px;
    padding-top: 25px;
    padding-bottom: 11px;
    height: 23px;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    text-align: left;
    background-color : #3275A214;
	cursor : pointer;	
}

.selectGameListDiv_2h{
	padding-left: 10px;
    padding-right: 10px;
    padding-top: 17px;
    padding-bottom: 12px;
    height: 30px;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    text-align: left;
    background-color : #3275A214;
	cursor : pointer;	
}

.blankgameListDiv{
	height : 59px;	
	border-bottom : 1px solid lightgray;
	border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

.gameListDiv_1h:hover,
.gameListDiv_2h:hover
{
	background-color : #3275A214;
	cursor : pointer;	
}

.gameDocDiv{
	padding-left : 20px;
	width : 954px;
    min-height : 678px;
    margin-bottom : 10px;
	display : inline-block;
}

.gamePgDIv{
	margin-top: 10px;
	height : 23px;
}

.gamePgNBtn{
	font-size : 13px;
	border : 0;
	cursor : pointer;
	background-color : white;
	font-family : 'IBM Plex Sans KR', sans-serif;
}

.gamePgNBtn:hover{
	font-weight : bold;
}

.emptyGameDocDiv{
	margin-top : 40px;
	width : 890px;
	height : 566px;
	background-color : #3275A242;
	border-radius : 6px;
}

.gameDocDiv_frame{
	margin-top : 40px;
	width : 934px;
	height : 550px;
	border-radius : 6px;
	border : 1px solid #3275A242;
}

.gameDocDiv_titleDiv{
	width : 100%;
	height : 50px;
	margin-top : 10px;
}

.gameDocDiv_titleDiv_l{
	width : 26%;
	height : 100%;
	display : inline-block;
	vertical-align : top;
}

.gameDocDiv_titleDiv_m{
	width : 48%;
	height: 41px;
    margin-top: 9px;
	display : inline-block;
	text-align : center;
	vertical-align : top;
	line-height: 1.5;
}

.gameDocDiv_titleDiv_r{
	width : 24%;
	font-size: 13px;
	margin-top : 19px;
	height : 31px;
	line-height: 1.2;
	display : inline-block;
	text-align : right;
	vertical-align : top;
}

.gameDocDiv_utilDiv{
	width : 100%;
	margin-top : 20px;
	height : 45px;
}

.gameDocDiv_btnDiv{
	width : 921px;
	margin-top : 10px;
	height : 30px;
	text-align : right;
}

.gameDocDiv_utilDiv_l{
	width : 157px;
	height : 100%;
	display : inline-block;
	color : #2C55CD;
	text-align : left;
	vertical-align : top;
	font-size: 24px;
    font-weight: bold;
    margin-left : 20px;
}

.gameDocDiv_utilDiv_m{
	width : 582px;
	height : 100%;
	display : inline-block;
	vertical-align : top;
}

.gameDocDiv_utilDiv_m_l{
	width : 42%;
	height : 100%;
	display : inline-block;
	vertical-align : top;
}

.gameDocDiv_utilDiv_m_m{
	width : 16%;
	height : 100%;
	display : inline-block;
	vertical-align : top;
	text-align : center;
}

.utilDiv_m_m_top{
	width : 100%;
	height : 20px;
	font-weight: bold;
}

.utilDiv_m_m_bot{
	width : 100%;
	height : 25px;
}

.gameDocDiv_utilDiv_m_r{
	width : 42%;
	height : 18px;
	display : inline-block;
	vertical-align : top;
	margin-top : 24px;
}

.gameDocDiv_utilDiv_r{
	width : 157px;
	height : 100%;
	display : inline-block;
	color : #CD2C2C;
	text-align : right;
	vertical-align : top;
	font-size: 24px;
    font-weight: bold;
}

.gameDocDiv_conDiv{
	width : 100%;
	height : 406px;
}

.gameDocDiv_conDiv_l{
	width : 407px;
	height : 100%;
	display : inline-block;
	vertical-align : top;
	margin-left: 20px;
}

.gameDocDiv_conDiv_l_div{
	width : 100%;
	height : 81px;
	background: url("../../img/bTeam.png");
}

.gameDocDiv_conDiv_m{
	width : 80px;
	height : 100px;
	display : inline-block;
	vertical-align : top;
}

.gameDocDiv_conDiv_m_div{
	width : 81px;
	height : 81px;
}

.gameDocDiv_conDiv_m_div img{
	margin-left : 10px;
	margin-top : 10px;
	width : 61px;
	height : 61px;
}

.gameDocDiv_conDiv_r{
	width : 407px;
	height : 100%;
	display : inline-block;
	vertical-align : top;
}

.gameDocDiv_conDiv_r_div{
	width : 100%;
	height : 81px;
	background: url("../../img/rTeam.png");
}

.gameDoc_top{
	width : 100%;
	height : 74px;
}

.gameDoc_img{
	width : 74px;
	height : 74px;
	display : inline-block;
	vertical-align : top;
}

.gameDoc_img img{
	width : 74px;
	height : 74px; 
}

.gameDoc_con{
	width : 333px;
	height : 74px;
	display : inline-block;
}

.gameDoc_con_top{
	width : 333px;
	height : 40px;
}

.gameDoc_con_top_l{
	width : 288px;
	height : 20px;
	margin-left : 15px;
	margin-top : 20px;
	display : inline-block;
	font-size: 20px;
    font-weight: bold;
	text-align : left;
}

.gameDoc_con_top_l_RED{
	width : 288px;
	height : 20px;
	margin-right : 15px;
	margin-top : 20px;
	display : inline-block;
	font-size: 20px;
    font-weight: bold;
	text-align : right;
}

.gameDoc_con_top_r{
	width : 30px;
	height : 40px;
	display : inline-block;
	vertical-align : top;
}

.gameDoc_con_top_r img{
	margin-top : 10px;
	margin-left : 5px;
	width : 20px;
	height: 20px;
	cursor : pointer;
}

.gameDoc_con_bot{
	width : 333px;
	height : 24px;
	margin-top : 2px;
}

.gameDoc_con_bot_l{
	width : 96px;
	height : 24px;
	margin-top : 6px;
	margin-left : 17px;
	display : inline-block;
}

.gameDoc_con_bot_l_RED{
    width: 96px;
    height: 24px;
    margin-top: 6px;
    display: inline-block;
    text-align: right;
}

.gameDoc_con_bot_r{
	width : 210px;
	height : 24px;
	display : inline-block;
	text-align : right;
	vertical-align : bottom;
}

.gameDoc_con_bot_r_RED{
	width: 211px;
    height: 24px;
    display: inline-block;
    text-align: left;
    margin-left: 9px;
	vertical-align : bottom;
}

.gameDocWriter{
	display : none;
}

.viewWriter{
	font-size : 13px;
	border : 0;
	cursor : pointer;
	background-color : white;
	font-family : 'IBM Plex Sans KR', sans-serif;
}

.viewWriter:hover{
	font-weight : bold;
}

.utilRadioBtn{
	cursor : pointer;
}